{% load i18n %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>{{ subject }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
<center>
    <h1>
    {% trans 'New tweets or retweet has been arrived.' %}
</h1>
</center>

<center>
    <div class="card" style="; margin-top:30px;border-style: solid;background-color: #825ee4;width: 60% ; height: 30%" >

    <div class="card-body" >
        <p style="text-align: center;font-size:large">{{ tweet }}</p>
    </div>
 </div>


</center>



</body>

</html>
